* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div#mars {
  width: 100%;
  height: 100vh;
}

div#mars {
  padding: 1em;
}

li {
  list-style: none;
  margin-bottom: 1em;
}

button {
  margin-top: 0.5em;
  padding: 0.25em 1em;

  &:not(:last-of-type) {
    margin-right: 1em;
  }
}
